# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Swift Package Manager
.build/
*.resolved

# CocoaPods
Pods/
